yarn.lock
web/build
*.log
*.db
.DS_Store
.eslintcache
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# ignore ide config
.idea
.vscode

# vim
*.swp


# playground
playground/data
playground/drive
playground/recording

/log


# next terminal
/recording