yarn.lock
web/build
*.log
*.db
.DS_Store
.eslintcache
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# ignore ide config
.idea
.vscode

# vim
*.swp


# next terminal
/data/
/logs/

/web/build/*
/server/resource/build/*
/server/resource/static/
/server/resource/*.html
/server/resource/*.json
/server/resource/*.ico
