@import '~antd/dist/antd.min.css';
@import '~@ant-design/pro-components/dist/components.css';

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    margin: 30px 17px;
    text-align: center;
}

.logo > h1 {
    color: white;
    font-weight: bold;
    line-height: 32px; /*设置line-height与父级元素的height相等*/
    text-align: center; /*设置文本水平居中*/
    display: inline-block;
}

.site-page-header-ghost-wrapper {
    background-color: #FFF;
}

.layout-header {
    height: 60px;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    position: relative;
    display: flex;
}

.layout-header-left {
    flex: 1 1 0;
    margin-left: 24px;
}

.layout-header-right {
    text-align: right;
    margin-right: 24px;
}

.layout-header-right-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
}

.page-herder {
    margin: 16px 16px 0 16px;
}

.page-search {
    background-color: white;
}

.page-search label {
    font-weight: bold;
}

.page-search .ant-form-item {
    margin-bottom: 0;
}

.page-container {
    margin: 16px;
}

.page-container-white {
    margin: 16px;
    padding: 24px;
    background-color: white;
}

.page-detail-warp {
    margin: 16px;
    padding: 0 16px 0 16px;
}

.page-detail-info {
    background-color: white;
    padding: 24px;
}

.page-card {
    margin: 16px;
}

.user-in-menu {
    align-items: center;
    text-align: center;
    margin: 10px auto;
    color: white;
}

.user-in-menu > .nickname {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: fit-content;
    border-radius: 5%;
}

.modal-no-padding .ant-modal-body {
    padding: 0;
}

.modal-no-padding-bg-xterm .ant-modal-body {
    background-color: #121314;
}

.disabled-icon {
    cursor: not-allowed;
    color: #ccc;
}

.disabled-icon:hover {
    color: #ccc;
}

.nt-container {
    width: 80%;
    margin: 20px auto 0;
}

.km-header {
    color: white;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    /*padding: 0 16px;*/
}

.km-header-right {
    text-align: left;
    height: 100%;
    margin: 0 8px;
}

.kd-content {
    margin-top: 20px;
    background-color: white;
}

.kd-page-header {
    background-color: white;
    margin-top: 20px;
}

.ant-page-header {
    padding: 0 !important;
}

.danger {
    color: red;
}

.danger:hover {
    color: red !important;
}

.xterm-viewport::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}

.xterm-viewport[scroll]::-webkit-scrollbar-thumb,
.xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #bfbfbf;
    transition: 0s;
}

/*.ant-layout-sider::-webkit-scrollbar {*/
/*    background-color: transparent;*/
/*    !*background-color: red;*!*/
/*    width: 10px;*/
/*}*/

/*.ant-layout-sider::-webkit-scrollbar-thumb {*/
/*    background-color: inherit;*/
/*    border-radius: 8px;*/
/*    background-clip: content-box;*/
/*    border: 2px solid transparent;*/
/*}*/

/*.ant-layout-sider[scroll]::-webkit-scrollbar-thumb,*/
/*.ant-layout-sider::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #bfbfbf;*/
/*    transition: 0s;*/
/*}*/