.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}
.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}